<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Web" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.group4.Main" />
    <module name="group-4-rrs-server" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="org.group4.routers.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>